{{#if @member.paid}}

    {{!--Silence is golden--}}

{{else if @member}}

{{!-- If free member, Upgrade CTA --}}
<div class="pico-cta">
    <div class="pico-container">
        <h5>Ready for unlimited access?</h5>
        <a class="gh-button gh-button-success" href="/signup/">Get Branch+</a>
        <p>Get Branch+ to get full access to all content, and help keep Branch independent and ad-free.</p>
    </div>
</div>

{{else}}

{{!-- If member is logged out, Signup CTA --}}
<div class="pico-cta">
    <div class="pico-container">
        <h5>Enjoying Branch? Sign up!</h5>
        <a class="gh-button gh-button-primary" href="/signup/">Sign up</a>
        <p>Sign up to be notified of new content and support Branch! You'll be a part of the community helping keep Branch independent and ad-free.</p>
    </div>
</div>

{{/if}}